/* Core */
:root {
    --bg: #0f1115;
    --surface: #151820;
    --text: #e6e6e6;
    --muted: #a0a4ab;
    --border: rgb(68, 71, 81);
    --body-width: 1000px;
    --body-width-padding: 1rem;
    --project-gaps: 10px;
    --exp-item-margin: 1rem;
    --color-bg: #0f1115;
    --color-surface: #445154;
    --color-surface-dark: #3a3a3a;
    --color-text: #dbdbdb;
    --color-text-muted: rgb(122, 124, 129);
    --color-border: rgb(85, 88, 100);
    --color-accent: #7dd3fc;
    --color-accent-vibrant: #315f6b;
    --color-accent-muted: #60bdc4;
    --color-accent-dull: #1e6166;
    --color-accent-dark: #4f5555;
    /* taken from code-styles.css DO NOT REMOVE */
    --color-code-bg: #1d1f21;
    --code-padding: 12px;
}
body {
    font-family: system-ui, sans-serif;
    background: var(--color-bg);
    color: var(--color-text);
    line-height: 1.7;
    max-width: var(--body-width);
    margin: 0 auto;
    padding: 1.5rem var(--body-width-padding);
}
a {
    color: var(--color-text);
    text-decoration: none;
}
a:hover {
    color: var(--color-accent);
}
section {
    margin-bottom: 3.5rem;
}
h2 {
    font-size: 1.45rem;
    color: var(--color-accent);
    font-weight: 500;
}
hr {
    border: 0;
    border-top: 1px solid var(--color-border);
    margin: 0;
}
pre {
    border: solid 1px var(--color-border);
    border-radius: 3px;
    background-color: var(--color-code-bg);
}
code {
    display: block;
    padding: var(--code-padding);
}
button,
input[type="button"],
input[type="submit"] {
    background-color: var(--color-accent-vibrant);
    color: var(--color-text);
    padding: 6px 8px;
    cursor: pointer;
    border: 1px solid color-mix(in srgb, var(--color-accent-vibrant), white 7.5%);
    border-radius: 3px;
}
button:hover,
input[type="button"]:hover {
    color: var(--color-bg);
    background-color: var(--color-accent-muted);
    border: 1px solid color-mix(in srgb, var(--color-accent-muted), white 25%);
}
input[type="checkbox"],
input[type="radio"] {
    cursor: pointer;
    accent-color: var(--color-accent);
}
input[type="color"] {
    cursor: pointer;
}
input[type="date"] {
    color-scheme: dark;
}
input[type="file"]::file-selector-button {
    background-color: var(--color-surface-dark);
    color: var(--color-text);
    border: 1px solid color-mix(in srgb, var(--color-surface-dark), white 25%);
    border-radius: 3px;
    padding: 6px;
    cursor: pointer;
}
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
    box-shadow: none;
    background-color: var(--color-bg);
    border: 1px solid var(--color-border);
    border-radius: 3px;
    color: var(--color-text);
    padding: 5px 5px 5px 8px;
    font-size: 1rem;
    font-family: inherit;
    box-sizing: border-box;
    width: 100%;
    max-width: 300px;
}
textarea {
    min-height: 100px;
    max-width: min(600px, 100%);
}
select {
    font-size: revert;
}
input[type="range"] {
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
}
input[type="range"]::-webkit-slider-runnable-track {
    background: var(--color-surface-dark);
    height: 0.5rem;
    border-radius: 0.5rem;
}
input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    margin-top: -4px;
    background-color: var(--color-accent);
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
}
progress {
    appearance: none;
    width: 100%;
    max-width: 300px;
    height: 0.75rem;
}
progress::-webkit-progress-bar {
    background-color: var(--color-surface-dark);
    border-radius: 3px;
}
progress::-webkit-progress-value {
    background-color: var(--color-accent);
    border-radius: 3px;
}
progress::-moz-progress-bar {
    background-color: var(--color-accent);
    border-radius: 3px;
}
summary {
    cursor: pointer;
}


/* Header */
#site-header {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    column-gap: 16px;
    margin: 0 auto 1.5rem auto;
    width: fit-content;
}
#site-logo {
    grid-row: 1 / span 2;
    width: 4.5rem;
    image-rendering: pixelated;
}
#site-title {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-text);
    align-self: end;
}
#site-motto {
    font-size: 1.1rem;
    color: var(--color-accent);
}


/* Navigation */
#navigation-bar {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2.75rem;
    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
    padding: 0.5rem 0;
    box-sizing: border-box;
}
#navigation-bar a {
    color: var(--color-text);
    text-decoration: none;
    font-weight: 500;
}
#navigation-bar a:hover {
    color: var(--color-accent);
}


/* Search bar */
.search-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto 2rem auto;
    width: 100%;
    max-width: 350px;
    height: 2rem;
}
.search-input {
    z-index: 1;
    flex: 1;
    height: 100%;
    padding: 0 1rem !important;
    border-right: none !important;
    border-radius: 1rem 0 0 1rem !important;
    outline: none;
    max-width: none !important;
    box-sizing: border-box;
}
.search-btn {
    z-index: 2;
    height: 100%;
    border-radius: 0 1rem 1rem 0;
    padding: 0.5rem;
    cursor: pointer;
    aspect-ratio: 1 / 1;
    background-image: url("/static/search-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
    background-color: transparent;
    border-color: var(--color-border);
    border-left: none;
}
.search-dropdown {
    display: none;
    position: absolute;
    height: fit-content;
    box-sizing: border-box;
    top: calc(100% - 1px);
    left: 50%;
    width: calc(100% - 1.5rem);
    background-color: var(--color-surface);
    border: 1px solid color-mix(in srgb, var(--color-border), white 25%);
    border-top: none;
    border-radius: 0 0 4px 4px;
    transform: translate(-50%, 0);
}
.search-dropdown a {
    display: block;
    padding: 0.75rem 1rem;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-top: 1px solid color-mix(in srgb, var(--color-border), white 25%);
}
.search-dropdown a:focus,
.search-dropdown a:active {
    background-color: var(--color-accent-dull);
}
.search-dropdown a:last-of-type {
    border-bottom: 0;
}
.search-wrapper:focus-within .search-dropdown,
.search-input:active~.search-dropdown,
.search-input:focus~.search-dropdown,
.search-btn:active~.search-dropdown,
.search-btn:focus~.search-dropdown,
.search-dropdown:focus,
.search-dropdown:active,
.search-dropdown:hover {
    display: block;
}
.search-more {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.25);
}
.search-nonefound,
.search-loading {
    pointer-events: none;
}


/* Footer */
footer {
    margin-top: 4.5rem;
    padding: 1rem 0;
    border-top: 1px solid var(--border);
    color: var(--muted);
    text-align: center;
}
footer a {
    color: var(--muted);
}
#contacts {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    font-size: 2.25rem;
    gap: 1rem;
    font-weight: normal !important;
}
#contacts a {
    display: inline-block;
    position: relative;
    color: var(--color-text-muted);
    text-decoration: none;
    background-size: contain;
    height: 2.5rem;
    width: 2.5rem;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-size: contain;
}
#contacts a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-text-muted);
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
}
#contacts a:hover::after {
    background-color: var(--color-accent);
}
#stackoverflow-contact::after {
    -webkit-mask-image: url('/static/stack-overflow-icon.png');
    mask-image: url('/static/stack-overflow-icon.png');
}
#linkedin-contact::after {
    -webkit-mask-image: url('/static/linkedin-icon.png');
    mask-image: url('/static/linkedin-icon.png');
}
#instagram-contact::after {
    -webkit-mask-image: url("/static/instagram-icon.png");
    mask-image: url("/static/instagram-icon.png");
}
#github-contact::after {
    -webkit-mask-image: url("/static/github-icon.png");
    mask-image: url("/static/github-icon.png");
}
#email-contact::after {
    -webkit-mask-image: url("/static/email-icon.png");
    mask-image: url("/static/email-icon.png");
}
#buymeacoffee::after {
    -webkit-mask-image: url("/static/buymeacoffee-icon.png");
    mask-image: url("/static/buymeacoffee-icon.png");
}
#bottom-note {
    margin-top: 1rem;
    font-size: 0.8rem;
}

