@use '../GLOBAL' as *;

#skills_wrapper {
    width: 100%;
    min-height: 100vh;
    // background-color: black;
    background: var(--text_gradient);
    padding: 3rem;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    justify-content: center;

}

.skills_container {
    padding: 1rem 3rem 3rem 3rem;
    width: 90%;
    background-color: rgba(64, 64, 64, 0.5);
    border-radius: 0.75rem;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    gap: 2rem;

    h1 {
        text-align: center;
        color: white;
        width: 100%;
        position: relative;
        margin-bottom:1rem;
        column-span: all;
    }
}

.skill_category {
    background-color: rgba(44, 44, 44, 0.5);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    margin:0 1rem 3rem 1rem;
    border-radius: 0.75rem;
    padding-bottom: 2rem;
    font-size: 0;
    width: 100%;

    h2{

        font-size: 1.3rem;
        margin-top:2rem;
        margin-bottom: 2rem;
        padding-left: 3rem;
        color: white;
        width: 100%;
        box-sizing: border-box;
    }

    hr{
        border:none;
        border-bottom:solid rgb(145, 145, 145, 0.5);
        border-width: 0.3rem;
        width: 100%;
    }

    &.animate_hidden .skill_card{
        opacity:0;
        filter: blur(2px);
    }

    &.animate_show .skill_card{
        opacity:1;
        filter: blur(0);
        transition: opacity 0.35s ease, filter 0.35s ease;
    }
      
}

.skill_card {
    display: inline-grid;
    height: 7rem;
    width: 7rem;
    border-radius: 0.5rem;
    grid-template-rows: 1fr max-content;
    padding: 1rem;
    font-size: 1rem;
    float: left;
    margin-top: 1rem;
    margin-left: 1rem;


    img {
        user-select: none;
        -drag: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        width: 0;
        height: 0;
        min-height: 100%;
        min-width: 100%;
        object-fit: contain;
        padding: 1rem;
        padding-bottom: 1.5rem;
        box-sizing: border-box;
    }

    div {
        color: white;
        text-align: center;
        font-size: 1rem;
        // font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.skill_card_no_pad img{
    padding: 1rem 0 0.5rem 0;
}



@include MEDIUM {
    #skills_wrapper {
        padding: 3rem;

    }

    .sub_skill_wrapper div {
        font-size: 120%;
    }

    .skills_container{
        padding-left: 2rem;
        padding-right: 2rem;
    }

}

@include SMALL {

    #skills_wrapper {
        padding: 0;
    }

    .skills_container {
        width: 100%;
        background-color: transparent;
        padding-left:0rem;
        padding-right: 0rem;

        h1{
            margin-bottom: revert;
            font-size: 200%;
        }
    }


    .skill_category{
        margin: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 1rem;

        h2{
            text-align: center;
            padding:0;
            margin: 2rem 0;
            font-size: 1.2rem;
        }
    }

    .skill_card {
        height: 7rem;
        width: 7rem;
        margin-left: 0;
        font-size: 0.8rem;
        margin-top: 0;
        padding-left:0;
        padding-right:0;
    }

   
}