// Common styling

$title_height:5rem;
$title_width:18vw;

@mixin gradient_text {
    background: var(--text_gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

@mixin gradient_underline($height:0.3rem){
    content: '';
    display: block;
    top: 0.5rem;
    position: relative;
    height: $height;
    width: 100%;
    background: var(--text_gradient);
}


// Screen sizes
@mixin MEDIUM{
    @media (max-width: 1100px) {
        @content;
    }
}

@mixin SMALL{
    @media (max-width: 800px){
        @content;
    } 
}