/* Core */
:root {
    --body-width: 680px;
}
h2 {
    font-size: 1.45rem;
    color: var(--color-accent);
    font-weight: 500;
}


/* Query banner */
#query-banner {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-text-muted)
}


/* Empty */
.empty-blog {
    color: var(--color-text-muted);
    text-align: center;
}


/* Pagination */
#pagination {
    display: flex;
    width: fit-content;
    flex-wrap: wrap;
    gap: 4px;
    margin: 0 auto;
    margin-bottom: 5rem;
}
.pagination-item,
.pagination-dots,
.pagination-prev,
.pagination-next {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 2rem;
    height: 2rem;
    padding: 0.25rem;
    font-size: 0.9rem;
    font-weight: 500;
    /* text-decoration: none; */
    background-color: transparent;
    color: var(--color-text);
    border: 1px solid var(--color-border);
    border-radius: 3px;
    box-sizing: border-box;
    position: relative;
}
.pagination-next:hover,
.pagination-prev:hover,
.pagination-item:hover {
    background-color: var(--color-border);
    color: var(--color-text);
    border: var(--color-border);
    cursor: pointer;
}
.pagination-active {
    background-color: var(--color-accent);
    border-color: var(--color-accent);
    color: var(--color-bg);
    cursor: default;
    pointer-events: none;
}
.pagination-dots {
    border: none;
    cursor: default;
}
.pagination-prev::before,
.pagination-next::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    border-style: solid;
    border-color: var(--color-text);
}
.pagination-prev::before {
    border-width: 2px 0 0 2px;
    transform: translate(-30%, -50%) rotate(-45deg);
}
.pagination-next::before {
    border-width: 2px 2px 0 0;
    transform: translate(-70%, -50%) rotate(45deg);
}